.music
	z-index: 50

	.grabber
		position: absolute
		width: 70vw
		height: 50px
		left: 15vw

		.grabber-design
			position: absolute
			top: 36px
			left: calc(50% - 35px)
			width: 80px
			height: 5px

	.music-contents
		padding: 0

		.controls
			height: 120px

			img
				width: 120px
				height: 120px

			input[type=range]
				top: 90px
				left: 140px
				position: absolute
				width: calc(100% - 140px - 500px)

			.song-name
				position: absolute
				left: 142px
				top: 20px
				font-weight: 700
				font-size: 15pt

			.song-artist
				position: absolute
				left: 142px
				top: 52px
				font-weight: 400
				font-size: 14pt
		
		.soundcloud
			width: 100%
			height: 48px
			&.disabled
				display: none
			&.expanded
				height: 80vh
		
		.spotify
			width: 100%
			height: 90px
			&.disabled
				display: none
			&.expanded
				height: 80vh

	.whitespace
		height: 16px

.floating
	&.music
		bottom: 84px
		left: 10%
		right: 10%
		max-width: unset


// SoundCloud
.playControls__volume
	display: none

.playbackSoundBadge__actions
	display: none
